.containerTop {
  height: 100vh;
  background-color: white;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  z-index: 1;
  .googleMaps {
    text-align: right;
    width: 71rem;
    margin: 0 auto;
    padding: 5rem 0;
    .aiksteles {
      display: none;
    }
    .googleMapsFull {
      display: inline-block;
      width: 340px;
      margin-bottom: 1rem;
      .googleMapsFrame {
        background-color: #007638;
        iframe {
          width: 330px;
          height: 330px;
          padding: 5px;
          border: 0;
        }
        p {
          font-size: 36px;
          color: white;
          font-weight: bold;
          text-align: left;
          padding: 0 0 0.4rem 2rem;
          margin-top: 0;
        }
      }
      p {
        background-color: #007638;
        font-size: 26px;
        color: white;
        font-weight: medium;
        text-align: left;
        padding: 0.4rem 0 0.4rem 2rem;
        margin-top: 0.5rem;
      }
    }
    .googleMapsFullTwo {
      display: inline-block;
      width: 340px;
      margin-left: 1rem;
      .googleMapsFrame {
        background-color: #9e9653;
        iframe {
          width: 330px;
          height: 330px;
          padding: 5px;
          border: 0;
        }
        p {
          font-size: 36px;
          color: white;
          font-weight: bold;
          text-align: left;
          padding: 0 0 0.4rem 2rem;
          margin-top: 0;
        }
      }
      p {
        background-color: #9e9653;
        font-size: 26px;
        color: white;
        font-weight: bold;
        text-align: left;
        padding: 0.4rem 0 0.4rem 2rem;
        margin-top: 0.5rem;
      }
    }
  }

  .goldRight {
    position: absolute;
    right: 0;
    top: 40%;
    z-index: -2;
    // width: 25%;
  }
}

@media (max-width: 1440px) {
  .containerTop {
    background-size: 100% 100%;
    .goldRight {
      width: 30%;
    }
  }
}

@media (max-width: 1200px) {
  .containerTop {
    .googleMaps {
      width: unset;
      margin: 0 5rem 0 5rem;
    }
  }
}

@media (max-width: 1030px) {
  .containerTop {
    .goldRight {
      display: none;
    }
  }
}

@media (max-width: 855px) {
  .containerTop {
    height: unset;
    .googleMaps {
      div:nth-child(2) {
        display: inline-block;
        width: 340px;
      }
    }
  }
}

@media (max-width: 800px) {
  .containerTop {
    .googleMaps {
      padding: 3rem 0;
      .aiksteles {
        display: block;
        color: #007638;
        font-size: 36px;
        margin: 0 0 1rem 0;
        font-weight: bold;
      }
      .googleMapsFullTwo {
        margin: unset;
      }
    }
  }
}

@media (max-width: 600px) {
  .containerTop {
    .googleMaps {
      text-align: center;
      margin: unset;
    }
  }
}

.containerPopuliariausi {
  text-align: center;
  position: relative;
  .goldLeft {
    position: absolute;
    left: -2rem;
    z-index: -999;
    top: 15rem;
  }
  img:nth-child(2) {
    padding: 7rem 0 2rem;
    // height: 6rem;
  }
  .populiariausiTitle {
    p:nth-child(1) {
      font-size: 69px;
      font-weight: bolder;
      color: #007638;
      margin-bottom: 1rem;
    }
    p:nth-child(2) {
      font-size: 25px;
      color: #3d3d3d;
      margin-bottom: 4rem;
      font-weight: bold;
    }
  }
  .popLast {
    margin-bottom: 10rem;
  }
  .populiariausiasBack {
    background-color: #f4f4f4;
  }
  .pop,
  .populiariausias,
  .popLast {
    padding: 2rem 0 0;

    div {
      display: inline-block;
      width: 18rem;
      margin: 0 1rem;
      p:nth-child(1) {
        font-size: 21px;
        color: #007638;
        font-weight: bold;
        margin-bottom: 0.5rem;
      }
      p:nth-child(2) {
        font-size: 42px;
        color: #007638;
        font-weight: bold;
        margin-bottom: 0.2rem;
      }
      p:nth-child(3) {
        font-size: 17px;
        color: #3d3d3d;
        font-weight: bold;
        margin-bottom: 2rem;
      }
    }
  }

  .super,
  .superTwo {
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    div {
      width: 26rem;
      align-items: center;
      margin: 1rem;
      display: flex;
      justify-content: center;
      img {
        position: unset;
        left: unset;
        z-index: unset;
        top: unset;
        display: inline-block;
        height: 90px;
        padding: 0 10px;
        cursor: pointer;
      }
      p {
        color: #9b9a40;
        font-size: 25px;
        font-weight: bold;
        display: inline-block;
        width: 153px;
        text-align: left;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 1279px) {
  .containerPopuliariausi {
    .goldLeft {
      width: 55%;
    }
    .pop,
    .populiariausias,
    .popLast {
      width: 75%;
      margin: 0 auto;
    }
  }
}

@media (max-width: 895px) {
  .containerPopuliariausi {
    .super {
      margin: unset;
    }
  }
}

@media (max-width: 650px) {
  .containerPopuliariausi {
    .populiariausiTitle {
      p:nth-child(1) {
        font-size: 49px;
      }
      p:nth-child(2) {
        font-size: 21px;
      }
    }
  }
}

@media (max-width: 600px) {
  .containerPopuliariausi {
    .super,
    .superTwo {
      div {
        flex-direction: column;
        p {
          padding-top: 0.5rem;
          text-align: center;
          width: unset;
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .containerPopuliariausi {
    .pop,
    .populiariausias,
    .popLast {
      width: unset;
    }
    .populiariausiTitle {
      p:nth-child(1) {
        font-size: 39px;
      }
      p:nth-child(2) {
        font-size: 21px;
      }
    }
  }
}
