.containerTop {
  // height: 100vh;
  background-color: white;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  text-align: center;

  .iconContainer {
    text-align: center;
    margin: 5rem 0;
    .bText {
      font-size: 69px;
      color: #007638;
      font-weight: bolder;
    }
  }

  .super {
    margin-bottom: 4rem;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    div {
      width: 15rem;
      margin: 1rem;
      img {
        position: unset;
        left: unset;
        z-index: unset;
        top: unset;
        display: inline-block;
        height: 90px;
        padding: 0 10px;
      }
      p {
        color: #9b9a40;
        font-size: 25px;
        font-weight: bold;
        display: inline-block;
      }
    }
  }

  .pop {
    padding-top: 0rem;
  }
  .populiariausias {
    background-color: #f4f4f4;
  }
  .pop,
  .populiariausias,
  .popLast {
    padding: 2rem 0 0;

    div {
      display: inline-block;
      width: 18rem;
      margin: 0 1rem;
      p:nth-child(1) {
        font-size: 21px;
        color: #007638;
        font-weight: bold;
        margin-bottom: 0.5rem;
      }
      p:nth-child(2) {
        font-size: 42px;
        color: #007638;
        font-weight: bold;
        margin-bottom: 0.2rem;
      }
      p:nth-child(3) {
        font-size: 17px;
        color: #3d3d3d;
        font-weight: bold;
        margin-bottom: 2rem;
      }
    }
  }
  .popLast {
    margin-bottom: 10rem;
  }
  .tekstas {
    width: 60%;
    margin: 0 auto;
    border: 3px solid;
    margin-bottom: 2rem;
    p {
      margin: 5rem 0;
    }
  }
}
