.containerTop {
  // height: 100vh;
  background-color: white;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;

  .iconContainer {
    text-align: center;
    margin: 5rem 0 8rem 0;
    .bText {
      font-size: 69px;
      color: #007638;
      font-weight: bolder;
    }
  }
  .fIrJuridinis {
    width: 60%;
    margin: 0 auto;
    border: 3px solid;
    margin-bottom: 4rem;
    background-color: #e9e8d0;
    text-align: center;
    p {
      margin: 5rem 0;
    }
  }
}

@media (max-width: 470px) {
  .containerTop {
    .iconContainer {
      margin: 5rem 0 6rem 0;
      .bText {
        font-size: 49px;
      }
    }
  }
}
