.containerTop {
  // height: 100vh;
  background-color: white;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  z-index: 1;

  .iconContainer {
    text-align: center;
    margin: 5rem;
    .bText {
      font-size: 69px;
      color: #007638;
      font-weight: bolder;
    }
  }
  .super {
    margin-bottom: 4rem;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    div {
      width: 15rem;
      margin: 1rem;
      img {
        position: unset;
        left: unset;
        z-index: unset;
        top: unset;
        display: inline-block;
        height: 90px;
        // padding: 0 10px;
        cursor: pointer;
      }
      p {
        color: #9b9a40;
        font-size: 25px;
        font-weight: bold;
        display: inline-block;
        cursor: pointer;
        padding-top: 0.5rem;
      }
    }
  }
  .raktazodziai {
    width: 60%;
    margin: 0 auto;
    padding: 2rem 0 0;
    p:nth-child(1) {
      text-align: center;
      margin-bottom: 1rem;
      font-size: 25px;
      color: #3d3d3d;
      font-weight: bold;
    }
    p:nth-child(2) {
      text-align: justify;
      margin-bottom: 4rem;
      font-size: 17px;
      color: #3d3d3d;
    }
  }
}

@media (max-width: 1450px) {
  .containerTop {
    height: unset;
    // background-color: white;
    // background-repeat: no-repeat;
    // background-size: contain;
    // position: relative;
    // z-index: 1;
  }
}

@media (max-width: 470px) {
  .containerTop {
    .iconContainer {
      .bText {
        font-size: 49px;
      }
    }
  }
}
