.containerTop {
  .iconContainer {
    text-align: center;
    .icon {
      display: block;
      margin: 0 auto;
      padding: 5rem 0 2rem 0;
    }
    .bText {
      font-size: 69px;
      color: #007638;
      font-weight: bolder;
    }
    .sText {
      font-size: 25px;
      color: #3d3d3d;
      font-weight: bold;
    }
  }

  .Vienas_Keturi {
    padding: 5rem 0;
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
    .arrow1 {
      position: absolute;
      z-index: -2;
      margin-left: -22rem;
    }
    .arrow2 {
      position: absolute;
      z-index: -2;
      margin-top: -2.5rem;
      margin-left: 1rem;
    }
    .arrow3 {
      position: absolute;
      z-index: -2;
      margin-left: 4rem;
      top: 8.7rem;
    }
    .arrow4 {
      position: absolute;
      z-index: -2;
      top: 11rem;
      margin-left: -8rem;
    }
    .arrow5 {
      position: absolute;
      z-index: -2;
      bottom: -6rem;
      width: 74rem;
      margin-right: 1rem;
    }

    div {
      width: 15rem;
      display: inline-block;
      margin: 0 2.5rem;
      p:nth-child(1) {
        font-size: 42px;
        color: #007638;
        padding-bottom: 1rem;
        font-weight: bold;
      }
      p:nth-child(2) {
        font-size: 21px;
        color: #007638;
        font-weight: bold;
        height: 3.5rem;
      }
      // img {
      // position: absolute;
      // left: 0;
      // bottom: 0;
      // right: 0;
      // margin: auto;
      // }
    }
  }
  .Penki_Astuoni {
    padding: 5rem 0 20rem;
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
    .arrow6 {
      position: absolute;
      z-index: -2;
      margin-top: -5rem;
    }
    .arrow7 {
      position: absolute;
      z-index: -2;
      margin-top: -1rem;
      margin-left: 1rem;
    }
    .arrow8 {
      position: absolute;
      z-index: -2;
      margin-top: 1.5rem;
      margin-left: 2rem;
    }
    .arrow9 {
      position: absolute;
      z-index: -2;
      top: 18rem;
      margin-left: 1rem;
    }
    div {
      width: 15rem;
      display: inline-block;
      margin: 0 2.5rem;
      p:nth-child(1) {
        font-size: 42px;
        color: #007638;
        padding-bottom: 1rem;
        font-weight: bold;
      }
      p:nth-child(2) {
        font-size: 21px;
        color: #007638;
        // padding-bottom: 1rem;
        font-weight: bold;
        height: 3.5rem;
      }
    }
  }
}

@media (max-width: 1400px) {
  .containerTop {
    .Vienas_Keturi {
      padding: 3rem 0 0;
      flex-wrap: wrap;
      .arrow1 {
        display: none;
      }
      .arrow2 {
        display: none;
      }
      .arrow3 {
        display: none;
      }
      .arrow4 {
        display: none;
      }
      .arrow5 {
        display: none;
      }

      div {
        flex-basis: 33%;
        margin-top: 3rem;
        p:nth-child(1) {
          padding-bottom: 0.5rem;
        }
        p:nth-child(2) {
          width: 15rem;
          margin: 0 auto;
        }
        // img {
        // }
      }
    }
    .Penki_Astuoni {
      padding: 0 0 10rem;
      flex-wrap: wrap;
      .arrow6 {
        display: none;
      }
      .arrow7 {
        display: none;
      }
      .arrow8 {
        display: none;
      }
      .arrow9 {
        display: none;
      }
      div {
        flex-basis: 33%;
        margin-top: 3rem;
        p:nth-child(1) {
          padding-bottom: 0.5rem;
        }
        p:nth-child(2) {
          width: 15rem;
          margin: 0 auto;
        }
        // img {
        // }
      }
    }
  }
}

@media (max-width: 470px) {
  .containerTop {
    .iconContainer {
      .icon {
        display: none;
      }
      .bText {
        font-size: 49px;
        padding: 5rem 0 0 0;
      }
    }
  }
}
